.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  border: 2px solid #9c6644;
}
.navbar > * {
  margin: 1rem;
  color: #9c6644;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
.navbar > *:hover {
  color: #e76f51;
}
